
#Client Settings

#Folders
ClientSide/defaultconfigs
ClientSide/localconfigs
ClientSide/logs
ClientSide/saves
ClientSide/schematics
ClientSide/shaderpacks

#Files
ClientSide/options.txt
ClientSide/Quark Programmer Art.zip

#Extension
ClientSide/*.marker