
#Client Settings

#Folders
ClientSide/defaultconfigs
ClientSide/localconfigs
ClientSide/logs
ClientSide/saves
ClientSide/schematics
ClientSide/shaderpacks
ClientSide/Distant_Horizons_server_data
ClientSide/crash-reports

#Files
ClientSide/options.txt
ClientSide/resourcepacks/Quark Programmer Art.zip
ClientSide/servers.*

#Extension
ClientSide/*.marker
*.log
*.gz
